/* ===========================
   config : Global config
   =========================== */


// base color (http://chir.ag/projects/name-that-color)

$white         : #fff;
$gray-white    : #f3f3f3;
$black         : #0b0b0b;
$gray--xdark    : #696c71;
$gray--dark    : #141414;
$gray          : #333333;
$gray--light   : #7e7878;
$gray--x-light : rgba(131, 139, 150, 0.36);
$gray--xx-light : rgba(214, 215, 215, 0.14);
$green         : #1cb097;
$green--light  : #21bda9;

$red           : #cb2027;

$yellow        : #cbc520;

$gold          : #959455;

$blue--x-dark  : #010b14;
$blue--dark    : #3b4d61;
$blue          : #3e4b5e;
$blue--light   : #838b96;
$blue--x-light : #cbd0d4;

